<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body style="margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; background-color: rgb(22,163,74); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

  <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background-color: rgb(22,163,74);">
    <tbody>
      <tr>
        <td align="center" valign="top">

          <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; width:600px; max-width:100%;">
            <tbody>

              <!-- Header -->
              <tr>
                <td align="center" style="padding:20px 0; font-size:30px; font-style:italic; font-weight:bold; color:#ffffff;">
                  Boerencamping De Groene Weide
                </td>
              </tr>

              <!-- Main Content -->
              <tr>
                <td bgcolor="#ffffff" style="padding:48px 30px 40px; color:#000000; border-radius:15px;">

                  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tbody>

                      <tr>
                        <td style="padding-bottom:24px; font-size:18px; line-height:150%; font-weight:bold; color:#000000;">
                          Herinnering over uw activiteit
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:400; color:#000000;">
                          Uw geboekte activiteit vind morgen plaats!
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:900; color:#000000;">
                          Activiteit:
                        </td>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:500; color:#000000;">
                          {{activity_name}}
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:900; color:#000000;">
                          Datum en tijd:
                        </td>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:500; color:#000000;">
                          {{slot_datetime}}
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:900; color:#000000;">
                          Locatie:
                        </td>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:500; color:#000000;">
                          {{activity_location}}
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:900; color:#000000;">
                          Minimumleeftijd:
                        </td>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:500; color:#000000;">
                          {{activity_minage}}
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:900; color:#000000;">
                          Aantal personen:
                        </td>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:500; color:#000000;">
                          {{booking_amount}}
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:900; color:#000000;">
                          Totaalprijs:
                        </td>
                        <td style="padding-bottom:10px; font-size:14px; line-height:150%; font-weight:500; color:#000000;">
                          {{activity_price}}
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" style="padding-top:10px; font-size:14px; line-height:170%; font-weight:400; color:#000000;">
                          Nogmaals bedankt voor uw boeking en hopelijk zien we u snel!
                        </td>
                      </tr>

                    </tbody>
                  </table>

                </td>
              </tr>

              <!-- Footer -->
              <tr>
                <td align="center" style="padding:24px 0 48px;">
                  <span style="font-size:11px; line-height:15px; color:#ffffff;">
                    Boerencamping De Groene Weide<br>
                    Heidelberglaan 15
                  </span>
                </td>
              </tr>

            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>

</body>
</html>
