<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" type="text/css">
</head>

<body style="
    margin:0;
    padding:0;
    background-color:rgb(22,163,74);
    border-radius:15px;
    font-family:'Open Sans', Arial, sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
">

<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="
    width:100%;
    background-color:rgb(22,163,74);
    border-collapse:collapse;
">
    <tbody>
    <tr>
        <td align="center" valign="top">

            <table width="600" cellpadding="0" cellspacing="0" border="0" style="
                width:600px;
                border-collapse:collapse;
            ">
                <tbody>

                <tr>
                    <td style="
                        padding:20px 0;
                        text-align:center;
                        font-size:30px;
                        font-style:italic;
                        font-weight:bold;
                        color:#ffffff;
                    ">
                        Boer Berts Boerencamping
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#ffffff" style="
                        padding:48px 30px 40px;
                        color:#000000;
                        border-radius:15px;
                    ">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                            <tbody>

                            <tr>
                                <td style="
                                    padding-bottom:24px;
                                    font-size:18px;
                                    line-height:150%;
                                    font-weight:bold;
                                    letter-spacing:0.01em;
                                ">
                                    Details over uw boeking
                                </td>
                            </tr>

                            <tr>
                                <td style="
                                    padding-bottom:10px;
                                    font-size:14px;
                                    line-height:150%;
                                    font-weight:400;
                                    letter-spacing:0.01em;
                                ">
                                    Hier zijn de details over uw boeking
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:900;">Activiteit:</td>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:500;">{{activity_name}}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:900;">Datum en tijd:</td>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:500;">{{slot_datetime}}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:900;">Locatie:</td>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:500;">{{activity_location}}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:900;">Minimumleeftijd:</td>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:500;">{{activity_minage}}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:900;">Aantal personen:</td>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:500;">{{booking_amount}}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:900;">Totaalprijs:</td>
                                <td style="padding-bottom:10px; font-size:14px; font-weight:500;">{{activity_price}}</td>
                            </tr>

                            <tr>
                                <td colspan="2" style="padding-top:10px; font-size:14px; line-height:170%; font-weight:400; color:#000000;">
                                    Alvast veel plezier! Tot dan.
                                    Kunt u onverwachts toch niet aanwezig zijn?
                                    Geef dit tot maximaal 24 uur voor de activiteit begint aan bij de balie.
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="
                        padding:24px 0 48px;
                        text-align:center;
                    ">
                        <span style="
                            font-size:11px;
                            line-height:15px;
                            color:#ffffff;
                        ">
                            Boer Bert's Boerencamping<br>
                            Heidelberglaan 15
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
